$def with (wells, tstring)
<html>
    <head>
        <title>Wells</title>
        <link rel="stylesheet" href="/m/styles.css">
    </head>
    <body>
        <div class="wrapper">
            <h1>Well Status</h1>
            $for (name, url, status) in wells:
                <div class="wellitem">
                    <div class="well-name"><a href="/$url">$name</a></div>
                    $if status == 1:
                        <div class="well-ok">OK</div>
                    $elif status == 0:
                        <div class="well-bad">BAD</div>
                    $else:
                        <div class="well-off">Disabled</div>
                    <div style="clear: both;"></div>
                </div>
            <div class="timestamp">
                $tstring
            </div>
        </div>
    </body>
</html>
