$def with (welldata, name)
<html>
    <head>
        <title>$name History</title>
        <link rel="stylesheet" href="/m/styles.css">
    </head>
    <body>
        <div class="wrapper" style="width: 550px;">
            <h1>$name History</h1>
            <p><a href="/">Main</a></p>
            $for (status, tstring) in welldata:
                <div class="wellitem">
                    <div class="well-name">$tstring</div>
                    $if status == 1:
                        <div class="well-ok">OK</div>
                    $else:
                        <div class="well-bad">BAD</div>
                    <div style="clear: both;"></div>
                </div>
        </div>
    </body>
</html>
